In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
import os
import csv

In [3]:
# File to Load (Remember to Change These)
data_201801_path = "Resources/201801-citibike-tripdata.csv"

nycbike_201801 = pd.read_csv(data_201801_path)

In [4]:
nycbike_201801.count()

tripduration               718994
starttime                  718994
stoptime                   718994
start station id           718994
start station name         718994
start station latitude     718994
start station longitude    718994
end station id             718994
end station name           718994
end station latitude       718994
end station longitude      718994
bikeid                     718994
usertype                   718994
birth year                 718994
gender                     718994
dtype: int64

In [20]:
# File to Load (Remember to Change These)
data_201802_path = "Resources/201802-citibike-tripdata.csv"
nycbike_201802 = pd.read_csv(data_201802_path)

In [21]:
nycbike_201802.count()

tripduration               843114
starttime                  843114
stoptime                   843114
start station id           843114
start station name         843114
start station latitude     843114
start station longitude    843114
end station id             843114
end station name           843114
end station latitude       843114
end station longitude      843114
bikeid                     843114
usertype                   843114
birth year                 843114
gender                     843114
dtype: int64

In [22]:
# File to Load (Remember to Change These)
data_201803_path = "Resources/201803-citibike-tripdata.csv"
nycbike_201803 = pd.read_csv(data_201803_path)

In [23]:
nycbike_201803.count()

tripduration               976672
starttime                  976672
stoptime                   976672
start station id           976672
start station name         976672
start station latitude     976672
start station longitude    976672
end station id             976672
end station name           976672
end station latitude       976672
end station longitude      976672
bikeid                     976672
usertype                   976672
birth year                 976672
gender                     976672
dtype: int64

In [25]:
# Combine the data into a single dataset
bike_trips_df = pd.concat([nycbike_201801,nycbike_201802, nycbike_201803])

In [3]:
# Display the data table for preview
bike_trips_df= pd.read_csv(trips)
bike_trips_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [6]:
bike_trips_df.count()

tripduration               2538780
starttime                  2538780
stoptime                   2538780
start station id           2538780
start station name         2538780
start station latitude     2538780
start station longitude    2538780
end station id             2538780
end station name           2538780
end station latitude       2538780
end station longitude      2538780
bikeid                     2538780
usertype                   2538780
birth year                 2538780
gender                     2538780
dtype: int64

In [4]:
# replace Gender (Zero=unknown; 1=male; 2=female)
bike_trips_df= bike_trips_df.replace({0: "unknown", 1: "male", 2: "female"})
bike_trips_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,male
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,male
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,male
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,male
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,male

In [5]:
bike_trips_df.to_csv("Resources/Qtr_2018_Data.csv",index=False)